<app-navbar></app-navbar>

<header class="text-black">
  <div class="container text-center">
    <h1>Quien soy?</h1><br>
    <p class="lead fw-bold">Franco Spineti, alumno de la Universidad Tecnológica Nacional Avellaneda.</p>
  </div>
</header>

<section id="trabajo">
  <div class="">
    <div class="row max-w">
      <div class="col-lg-1" style="margin-left: 20px;">
        <img [src]="data.avatar_url" alt="" height="250px"/>
      </div>
      <div class="col-lg-9 mx-auto">
        <h3>Esto es un examen</h3>
      </div>
    </div>
  </div>
</section>

<section id="frogger" >
  <div class="">
    <div class="row max-w">
      <div class="col-lg-8 mx-auto">
        <h3>Examen</h3>
        <p class="lead fw-bold">.......</p>
      </div>  
    </div>
  </div>
</section>
